@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
$first-box-color: #c70039;
$second-box-color: #ff5733;
$third-box-color: #ffc300;

* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  max-width: 1300px;
  margin: 0 auto;
}
header > h1 {
  text-align: center;
}
.boxesContainer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__box {
    height: 300px;
    width: 250px;
    background: grey;
    margin: 30px;
    transition: 0.2s;
    border-radius: 15px;

    @mixin box-shadow($color) {
      box-shadow: 0 2.8px 2.2px rgba($color, 0.034),
        0 6.7px 5.3px rgba($color, 0.048), 0 12.5px 10px rgba($color, 0.06),
        0 22.3px 17.9px rgba($color, 0.072), 0 41.8px 33.4px rgba($color, 0.086),
        0 100px 80px rgba($color, 0.12);
    }

    &--first {
      order: 0;
      background: $first-box-color;
      @include box-shadow($first-box-color);
    }

    &--second {
      order: 1;
      background: $second-box-color;
      @include box-shadow($second-box-color);
    }

    &--third {
      order: 2;
      background: $third-box-color;
      @include box-shadow($third-box-color);
    }
  }
}

.play {
  height: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 100px 0 15px 0;

  &__input {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100px;
    max-width: 400px;
    min-width: 250px;
    border: 2px solid grey;
    margin: 0 15px;
    font-size: 1.2em;
  }

  &__btn {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100px;
    max-width: 300px;
    min-width: 150px;
    border: none;
    background: grey;
    color: white;
    font-size: 1.3em;
    transition: 0.15s;

    &:hover {
      cursor: pointer;
      background: #900c3e;
    }
  }
}

.results {
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 80px auto;
}
