@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import "reset";
@import "variables";
@import "mixins";

* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  max-width: 1300px;
  margin: 0 auto;
}
header > h1 {
  margin: 20px 0 40px;
  text-align: center;
  font-size: 5em;
  font-weight: 400;
  color: #571845;
  text-shadow: 7px 5px 16px rgba(#571845, 0.4);
  font-family: "Monoton", sans-serif;
}
.boxesContainer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__box {
    height: 300px;
    width: 250px;
    margin: 30px;
    transition: 0.2s;
    border-radius: 15px;

    &--first {
      order: 0;
      @include box-theme($gradient1, $baseColor1);
    }

    &--second {
      order: 1;
      @include box-theme($gradient2, $baseColor2);
    }
    &--third {
      order: 2;
      @include box-theme($gradient3, $baseColor3);
    }
  }
}

.play {
  height: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 100px 0 15px 0;

  &__input {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100px;
    max-width: 400px;
    min-width: 250px;
    border: 2px solid grey;
    margin: 0 15px;
    font-size: 1.2em;

    &Label {
      font-size: 2.1em;
    }
  }

  &__btn {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100px;
    max-width: 300px;
    min-width: 150px;
    border: none;
    background: grey;
    color: white;
    font-size: 1.3em;
    transition: 0.15s;

    &:hover {
      cursor: pointer;
      background: #900c3e;
    }
  }
}

.results {
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 80px auto;
  font-size: 1.2em;

  span {
    font-weight: 700;
  }
}
