  $baseColor1: #c70039;
  $baseColor2: #ff5733;
  $baseColor3: #ffc300;

  $gradient1: linear-gradient(
    to left bottom,
    #f52a64,
    #ea2159,
    #de184e,
    #d30d43,
    #c70039
  );
  $gradient2: linear-gradient(
    to left bottom,
    #ff614f,
    #ff5e48,
    #ff5c42,
    #ff593b,
    #ff512b
  );
  $gradient3: linear-gradient(
    to left bottom,
    #ffce2e,
    #ffcb26,
    #ffc91d,
    #ffc612,
    #ffc300
  );

